<!doctype html>
<html class="no-js" lang="">
 <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BootStrap HTML5 CSS3 Theme</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/normalize.css">
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/icomoon.css">
    <link rel="stylesheet" href="~/Content/css/transitions.css">
    <link rel="stylesheet" href="~/Content/css/flags.css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/css/prettyPhoto.css">
    <link rel="stylesheet" href="~/Content/css/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/css/scrollbar.css">
    <link rel="stylesheet" href="~/Content/css/chartist.css">
    <link rel="stylesheet" href="~/Content/css/main.css">
    <link rel="stylesheet" href="~/Content/css/dashboard.css">
    <link rel="stylesheet" href="~/Content/css/color.css">
    <link rel="stylesheet" href="~/Content/css/responsive.css">
    <link rel="stylesheet" href="~/Content/css/dbresponsive.css">
    <script src="~/Scripts/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body>
    <!--[if lt IE 8]>
        <!--************************************
            Wrapper Start
    *************************************-->
    <div id="tg-wrapper" class="tg-wrapper tg-haslayout">
        <!--************************************
                Header Start
        *************************************-->
        <header id="tg-dashboardheader" class="tg-dashboardheader tg-haslayout">
            <nav id="tg-nav" class="tg-nav">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigation" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="tg-navigation" class="collapse navbar-collapse tg-navigation">
                    <ul>
                        <li>
                            <a href="javascript:void(0);">Home</a>
                        </li>

                        <li>
                            <a href="javascript:void(0);">Home</a>
                        </li>

                        <li>
                            <a href="javascript:void(0);">Home</a>
                        </li>

                        <li>
                            <a href="javascript:void(0);">Home</a>
                        </li>

                        <li>
                            <a href="javascript:void(0);">Home</a>
                        </li>


                    </ul>
                </div>
            </nav>
            <div class="tg-rghtbox">
                <a class="tg-btn" href="dashboard-postanad.html">
                    <i class="icon-bookmark"></i>
                    <span>Post Product</span>
                </a>
               
            </div>
            <div id="tg-sidebarwrapper" class="tg-sidebarwrapper">
                <span id="tg-btnmenutoggle" class="tg-btnmenutoggle">
                    <i class="fa fa-angle-left"></i>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="67" viewBox="0 0 20 67">
                        <metadata>
                            <?xpacket begin="﻿" id="W5M0MpCehiHzreSzNTczkc9d"?>
                            <x:xmpmeta xmlns:x="adobe:ns:meta/" x:xmptk="Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01">
                                <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                                    <rdf:Description rdf:about="" />
                                </rdf:RDF>
                            </x:xmpmeta>
                            <?xpacket end="w"?>
                        </metadata>
                        <path id="bg" class="cls-1" d="M20,27.652V39.4C20,52.007,0,54.728,0,67.265,0,106.515.026-39.528,0-.216-0.008,12.32,20,15.042,20,27.652Z" />
                    </svg>
                </span>
                <div id="tg-verticalscrollbar" class="tg-verticalscrollbar">
                    <strong class="tg-logo"><a href="javascript:void(0);"><img src="~/Images/logo.png" alt="image description" style="height:43px;"></a></strong>
                    <div class="tg-user">
                      
                        <div class="tg-usercontent" style="color:white">
                            
                            <b>Hi!</b>
                             <br />
                            <small> @User.Identity.Name</small>
                          
                        </div>
                    </div>
                    <nav id="tg-navdashboard" class="tg-navdashboard">
                        <ul>
                            <li>
                                <a href="dashboard.html">
                                    <i class="icon-chart-bars"></i>
                                    <span> Insights</span>
                                </a>
                            </li>
                            <li>
                                <a href="dashboard-profile-setting.html">
                                    <i class="icon-cog"></i>
                                    <span>Profile Settings</span>
                                </a>
                            </li>
                           
                        </ul>
                    </nav>
                    <div class="tg-socialandappicons">
                        <ul class="tg-socialicons">
                            <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                            <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                            <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                            <li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
                            <li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
                        </ul>
                       
                    </div>
                </div>
            </div>
        </header>
        <!--************************************
                Header End
        *************************************-->
     


        @RenderBody()




        <!--************************************
                        Footer Start
                *************************************-->
        <footer id="tg-footer" class="tg-footer tg-haslayout">
            <nav class="tg-footernav">
                <ul>
                    <li><a href="javascript:void(0);">Listing Policy</a></li>
                    <li><a href="javascript:void(0);">Terms of Use</a></li>
                    <li><a href="javascript:void(0);">Privacy Policy</a></li>
                </ul>
            </nav>
            <span class="tg-copyright">2017 All Rights Reserved &copy; Classified PRO</span>
        </footer>
        <!--************************************
                Footer End
        *************************************-->
    </div>
    <!--************************************
            Wrapper End
    *************************************-->




    <script src="~/Scripts/js/vendor/jquery-library.js"></script>
    <script src="~/Scripts/js/vendor/bootstrap.min.js"></script>
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyCR-KEWAVCn52mSdeVeTqZjtqbmVJyfSus&amp;language=en"></script>
    <script src="~/Scripts/js/tinymce/tinymce.min4bb5.js?apiKey=4cuu2crphif3fuls3yb1pe4qrun9pkq99vltezv2lv6sogci"></script>
    <script src="~/Scripts/js/responsivethumbnailgallery.html"></script>
    <script src="~/Scripts/js/jquery.flagstrap.min.js"></script>
    <script src="~/Scripts/js/backgroundstretch.js"></script>
    <script src="~/Scripts/js/owl.carousel.min.js"></script>
    <script src="~/Scripts/js/jquery.vide.min.js"></script>
    <script src="~/Scripts/js/jquery.collapse.js"></script>
    <script src="~/Scripts/js/scrollbar.min.js"></script>
    <script src="~/Scripts/js/chartist.min.html"></script>
    <script src="~/Scripts/js/prettyPhoto.js"></script>
    <script src="~/Scripts/js/jquery-ui.js"></script>
    <script src="~/Scripts/js/countTo.js"></script>
    <script src="~/Scripts/js/appear.js"></script>
    <script src="~/Scripts/js/gmap3.js"></script>
    <script src="~/Scripts/js/main.js"></script>

    <script>
        $('#secondbid').hide()

    $('#first').click(function () {
        $('#secondbid').hide()

        $('#firstbid').show(500)

    })


    $('#second').click(function () {
        $('#firstbid').hide()

        $('#secondbid').show(500)

    })

    </script>


</body>

</html>



