@using Sokuuhotu.Models




<style>

#btn{
    width: 45px;
    height: 39px;
        border-radius: 10px;
        background-color:#316bd3;
}

#input{
        height: 33px;
    width: 360px;
}
#form{

margin-bottom: -6px;
margin-left: 150px;

}

</style>



<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <ul class="tg-navcurrency">
        <li>
            <img src="~/Images/Logo.png" alt="Sokkohuuto Logo" style="height:40px;max-width:200px;margin-bottom:-15px;">
        </li>
        @*<li><a href="#" data-toggle="modal" data-target="#tg-modalselectcurrency">select currency</a></li>
            <li><a href="#" data-toggle="modal" data-target="#tg-modalpriceconverter">Price converter</a></li>*@
    </ul>


    <div class="search-container tg-navcurrency hidden-sm hidden-xs" id="form">
       
        @using(Html.BeginForm("Search","Store", FormMethod.Post))
        {

            <input type="text" placeholder="Search.." name="search" id="input">
            <button type="submit" id="btn"><i class="fa fa-search"></i></button>
             }
        
    </div>


    <div class="dropdown tg-themedropdown tg-userdropdown" style="margin-top: 10px;">
        <a href="javascript:void(0);" id="tg-adminnav" class="tg-btndropdown" data-toggle="dropdown">
            <span class="tg-userdp"><img src="~/Images/usericon.png" alt="image description" style="height:40px"></span>
            <span class="tg-name">Hi! Angelena</span>
            <span class="tg-role">Administratorhjjhjhjhjhjhjhj</span>
        </a>
        <ul class="dropdown-menu tg-themedropdownmenu" aria-labelledby="tg-adminnav">
            <li>
                <a href="dashboard.html">
                    <i class="icon-chart-bars"></i>
                    <span>Insights</span>
                </a>
            </li>
            <li>
                <a href="dashboard-profile-setting.html">
                    <i class="icon-cog"></i>
                    <span>Profile Settings</span>
                </a>
            </li>
            <li class="menu-item-has-children">
                <a href="javascript:void(0);">
                    <i class="icon-layers"></i>
                    <span>My Ads</span>
                </a>
                <ul>
                    <li><a href="dashboard-myads.html">All Ads</a></li>
                    <li><a href="dashboard-myads.html">Featured Ads</a></li>
                    <li><a href="dashboard-myads.html">Active Ads</a></li>
                    <li><a href="dashboard-myads.html">Inactive Ads</a></li>
                    <li><a href="dashboard-myads.html">Sold Ads</a></li>
                    <li><a href="dashboard-myads.html">Expired Ads</a></li>
                    <li><a href="dashboard-myads.html">Deleted Ads</a></li>
                </ul>
            </li>
            <li>
                <a href="dashboard-postanad.html">
                    <i class="icon-layers"></i>
                    <span>Dashboard Post Ad</span>
                </a>
            </li>
            <li class="menu-item-has-children">
                <a href="javascript:void(0);">
                    <i class="icon-envelope"></i>
                    <span>Offers/Messages</span>
                </a>
                <ul>
                    <li><a href="dashboard-offermessages.html">Offer Received</a></li>
                    <li><a href="dashboard-offermessages.html">Offer Sent</a></li>
                    <li><a href="dashboard-offermessages.html">Trash</a></li>
                </ul>
            </li>
            <li>
                <a href="dashboard-payments.html">
                    <i class="icon-cart"></i>
                    <span>Payments</span>
                </a>
            </li>
            <li>
                <a href="dashboard-myfavourites.html">
                    <i class="icon-heart"></i>
                    <span>My Favourite</span>
                </a>
            </li>
            <li>
                <a href="dashboard-privacy-setting.html">
                    <i class="icon-star"></i>
                    <span>Privacy Settings</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <i class="icon-exit"></i>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </div>
</div>

